.project
^cache$
^log$
web/uploads
test
vendor
app/cache
.orig
sensiodistribution
.idea/*
.DS_Store/*

Symfony/web/bundles/
Symfony/app/bootstrap*
Symfony/app/bootstrap.php.cache
Symfony/app/cache/*
Symfony/app/logs/*
Symfony/vendor/*
Symfony/app/config/parameters.yml

Symfony/vendor/autoload.php

Symfony/bin/
Symfony/web/bundles/
Symfony/.DS_Store
.hgrc

Symfony/composer.phar
Symfony/composer.lock
~


db_back/*.sql