{% extends 'base.html.twig' %}
{% import 'navbar.html.twig' as navbar %}
{% import 'sidebar.html.twig' as sidebar %}
{% import 'footer.html.twig' as footer %}

{% block body_content %}


    <div>

        {{ navbar.render() }}

        <div class="sidebar">
            {{ sidebar.render() }}
        </div>

        <div class="main-content">

            <div class="container">
                {% block main_content %}{% endblock %}
            </div>

            {{ footer.render() }}

        </div>

    </div>

{% endblock %}