{% extends '::wc_base.html.twig' %}

{% block headadd %}
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ asset('js/sorttable.js') }}"></script>
    <style>
        table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
            content: " \25B4\25BE"
        }
    </style>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <script type="text/javascript">
        function clearSearch()//Clears parameter values
        {
            document.getElementById('startdate').value = "";
            document.getElementById('enddate').value = "";
        }
        ;
        //Load the datepicker jquery
        $(function () {
            $("#startdate").datepicker({dateFormat: 'yy-mm-dd'});
            $("#enddate").datepicker({dateFormat: 'yy-mm-dd'});
        });
        //Clear the startdate and enddate
        $(document).ready(function () {
            $("#clear").click(function () {
                $(".view-reports-input").change();
                $(".checkbox").prop('checked', false);
            })

        });
        $(document).ready(function () {
            $("#search").click(function () {
                viewAll = false;
                totalVisits = false;
                busiestTimeOfDay = false;
                busiestDay = false;
                busiestTutor = false;
                noShows = false;
                busiestWeek = false;
                byCourse = false;
                getStudentEmail = false;

                //Date issues.
                if ($("#startdate").val() == "" || $("#enddate").val() == "") {
                    alert("Please Select a Date Range.")
                    return;
                }

                if ($("#startdate").val() != "")
                    startdate = $("#startdate").val();
                else
                    startdate = "none";

                if ($("#enddate").val() != "")
                    enddate = $("#enddate").val();
                else
                    enddate = "none";

                if ($("#startdate").val() >= $("#enddate").val()) {
                    alert("Please choose a startdate that comes before the enddate");
                    return;
                }

                //Gets the value of multilingual
                multilingual = $('input[name=multilingual]:checked').val();

                if ($("#view-all").is(":checked"))
                    viewAll = true;
                if ($("#total-visits").is(":checked"))
                    totalVisits = true;
                if ($("#busiest-time-of-day").is(":checked"))
                    busiestTimeOfDay = true;
                if ($("#busiest-day").is(":checked"))
                    busiestDay = true;
                if ($("#busiest-tutor").is(":checked"))
                    busiestTutor = true;
                if ($("#no-shows").is(":checked"))
                    noShows = true;
                if ($("#busiest-week").is(":checked"))
                    busiestWeek = true;
                if ($("#by-course").is(":checked"))
                    byCourse = true;
                if ($("#get-student-email").is(":checked"))
                    getStudentEmail = true;
                $.ajax({
                    type: "POST",
                    url: "{{ path('wc_cm_statistics_call') }}",
                    data: {
                        startdate: startdate,
                        enddate: enddate,
                        multilingual: multilingual,
                        viewAll: viewAll,
                        totalVisits: totalVisits,
                        busiestTimeOfDay: busiestTimeOfDay,
                        busiestDay: busiestDay,
                        busiestTutor: busiestTutor,
                        noShows: noShows,
                        busiestWeek: busiestWeek,
                        byCourse: byCourse,
                        getStudentEmail: getStudentEmail
                    }
                }).done(function (data) {
                    $("#content").html(data);
                    var newTableObject = document.getElementById('courseTable');
                    sorttable.makeSortable(newTableObject);
                });
            });
        });
    </script>
{% endblock %}

{% block main_content %}

    <div>
        <h1>View Statistics.</h1>
        <p>Displays various statistics over the current term.</p>
    </div>
    <div id="statistics-error-space"></div>
    <div class="row-fluid">
        {#<div class="span3">#}
        Start Date:
        <div class="input-group">
            <input type="datetime" class="form-control" id="startdate" value=""
                   placeholder="Choose a Starting Date..." aria-describedby="basic-addon1" readonly>
        </div>
        {#<input type="datetime" id="startdate" style="width:90%" class="view-reports-input"#}
        {#value="" placeholder="Choose a Starting Date…" readonly/>#}

        {#</div>#}
        </br>

        End Date:
        <div class="input-group">
            <input type="datetime" class="form-control" id="enddate" value=""
                   placeholder="Choose a Ending Date..." aria-describedby="basic-addon1" readonly>
        </div>

        {#<input type="datetime" id="enddate" style="width:90%" class="view-reports-input"#}
        {#value="" placeholder="Choose an Ending Date…" readonly/>#}

        </br>

        <label class="custom-control custom-radio">
            <input id="radio1" name="multilingual" type="radio" class="custom-control-input form-check-input"
                   value="all" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">All Appointments</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio2" name="multilingual" type="radio" class="custom-control-input form-check-input"
                   value="normal">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Only Non-Multilingual</span>
        </label>
        <label class="custom-control custom-radio">
            <input id="radio3" name="multilingual" type="radio" class="custom-control-input form-check-input"
                   value="multilingual">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Only Multilingual</span>
        </label>

    </div>

    </br>

    <div>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox" id="inlineCheckbox1 view-all">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">View All</span>
        </label>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox2 total-visits">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Total Visits</span>
        </label>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox3 busiest-time-of-day">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Busiest Time of Days</span>
        </label>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox1 busiest-day">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Busiest Day</span>
        </label>


        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox2 busiest-tutor">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Busiest Tutor</span>
        </label>


        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox" id="inlineCheckbox3 no-shows">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">No Shows</span>
        </label>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox1 busiest-week">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Busiest Week</span>
        </label>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox2 by-course">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">By Course</span>
        </label>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input form-check-input checkbox"
                   id="inlineCheckbox3 get-student-email">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Get Students Email</span>
        </label>


        </br>
        <button id="search" class="btn btn-primary">Search</button>
        <input type="button" id="clear" class="btn view-reports-input btn-danger" value="Clear Search"
               onclick="clearSearch()"/>
    </div>
    <div id="content"></div>

{% endblock %}