{% extends '::wc_base.html.twig' %}


    {% block main_content %}

        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h3 class="card-title">Tutor Labs</h3>
                <p>Welcome to the Bethel University Tutor Labs Web Application</p>
            </div>
        </div>

    {% endblock %}