{% extends '::wc_base.html.twig' %}

{% block headadd %}

{% endblock %}

{% block main_content %}

    <div class="hero-unit">
        <h1>Walk In Student.</h1>
    </div>
    <div id="tutor-walk-in-error-space"></div>
    <div id="walk-in-content">
        <p>Appointment Completed!</p>
        <p>Click <a target="_blank" href="{{ qualtricsLink }}">here</a> to fill out a quick survey.</p>
    </div>

{% endblock %}